@model IEnumerable<PA1.Models.AcceptedOrder>

@{
    ViewBag.Title = "Accepted";
}
    <div class="box">
        <h2>Accepted</h2>

        <p>
            @Html.ActionLink("Logout:" + Session["CustomerID"], "LogOut", "Portal")
            @Html.ActionLink("Back to UnacceptedOrder", "Index")
            <a href="http://localhost:50765#fooditem">Back to menu</a>
        </p>
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FoodDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FoodDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>

        </tr>
            }

        </table>
    </div>