@model IEnumerable<PA1.Models.Order>

@{
    ViewBag.Title = "Unaccepted Order";
}


<div class="container">
    <div class="box">
        <h2>Unaccepted Order</h2>
        <p>





            @Html.ActionLink("Logout:" + Session["CustomerID"], "LogOut", "Portal")
            @Html.ActionLink("AcceptedOrder", "Accepted")
           <a href="http://localhost:50765#fooditem">Back to menu</a>
        </p>
       
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoodDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryAddress)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID }) |
                @Html.ActionLink("Submit", "Submit", new { id = item.OrderID })

            </td>
        </tr>
            }

        </table>
    </div>
    </div>