@model IEnumerable<PA1.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Food_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
